.container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .effect1 {
    position: absolute;
    margin: 0;
    top: 20%;
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    z-index: 3;
    color: #e35270; /* Main pink color */
  }
  
  .effect1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .text {
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    color: #F0386B; /* Dark pink color */
    font-weight: 100;
    top: 10%;
    z-index: 3;
    opacity: 0;
    top: 10%;
  }
  
  .anim {
    display: flex; /* Changed from grid to flex for vertical alignment */
    flex-direction: column; /* Align children vertically */
    height: 100vh; /* Adjust height to fill the viewport */
    width: 100%; /* Full width */
  }
  
  .item {
    background-color: #F4E0E1; /* Light pink color */
    width: 100%; /* Full width */
    height: 0; /* Start with zero height */
    z-index: 0;
    transition: height 0.85s ease-out; /* Transition for animation */
  }
  
 
  
 