@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
   
  --light-pink: #ffe5ec;
  --logo-color:rgb(240, 192, 208);
  --dark-pink: #ff8fab;
  --dark-pink-body: #e35270;
  /* Vibrant darker pink */
  --accent-pink: #fb6f92;
  /* Accent pink for CTAs and interactive elements */
  --white-color: #ffffff;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;  
 
  
  
}




/* utlity */
a {
  text-decoration: none;

}

ul {
  list-style: none;
}

.header {
  
  padding: 1rem 0rem;
  height: 100vh;
   
 
  position: relative;
  overflow: hidden;
}

 
.navbar {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}
.logo-img {
  width: auto;
  height: 50px;

}

.links {
  display: flex;
  gap: 1rem;


}

.contact-btn {
  padding: .7rem 2rem;
  background-color:  #e35270;
  color: var(--white-color);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.social-btn {
  padding: .7rem 2rem;
  background-color:  #e35270;
  color: var(--white-color);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.text-box {

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
}

.heading {
  font-size: 2rem;
  letter-spacing: .030em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  color: var(--white-color);
  padding-bottom: 2rem;
}

.about {
   
}

/* Contact Section */

.contact-section {
  padding: 7rem 3rem;
  text-align: center;


}

.contact-heading {
  text-align: center;
  color: white;
  /* Change color as needed */
  font-size: 1.5rem;
  /* Adjust size as needed */
  overflow: hidden;
}





.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

input {
  max-width: 280px;
  width: 280px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #e35270;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0rem;
  transition: all .5s;
}

input:focus {
  border-bottom: 1px solid #fff;
}

input[type="button"] {
  width: inherit;
  margin-top: 3rem;
  border-bottom: none;
  padding: .7rem 3rem;
  background-color:  #e35270;
  color: var(--white-color);
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}


input::placeholder {
  color: #e35270;
  font-size: 1.1rem;

}

/* Footer */
.footer {
  padding-top: 5rem;
  text-align: center;
}

.footer-text {
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: bold;
}

 

@media screen and (max-width: 600px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; /* Adds padding on both ends of the navbar */
  }
  
  .img-logo {
    flex: 1; /* Allows the logo to take up space, pushing the menu to the right */
    display: flex;
    justify-content: center; /* Centers the logo inside the img-logo div */
  }
  
  .menu {
    display: flex;
    justify-content: flex-end; /* Aligns the menu icon to the right */
  }
  .links {
    display: none;
  }
  .text-box { width: 100%;
  }
  footer {
    padding-left: 3rem !important /* 192px */;
    padding-right: 3rem !important /* 192px */;
  }
   
 
   
}

/* Media Queries */

@media screen and (min-width: 768px) {


  .toggle-btn {
    display: block;
  }

  .heading {
    font-size: 2.5rem;
  }

  .contact-heading {
    font-size: 2rem;
  }

  .input-group {

    display: flex;
    flex-direction: row;

  }

  input {
    width: 300px;
    max-width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .toggle-btn {
    display: none;
  }

  aside {
    display: none;
  }

  .heading {
    font-size: 3.5rem;
  }

  .contact-heading {
    font-size: 2.5rem;
  }

  .input-group {

    display: flex;
    flex-direction: row;

  }

  input {
    width: 600px;
    max-width: 600px;
  }
}

 
/* ::-webkit-scrollbar {
 display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
} */

 